{# app/Resources/LEF/PostBundle/views/Default/ajax/index.html.twig #}
{% if total %}
	{% for post in posts %}
		{{ include('LEFPostBundle/templates/post.html.twig') }}
	{% endfor %}
{% elseif index == 0  %}
	<h3>{{ 'lefpost.posts.no_post'|trans }}</h3>
{% endif %}

<div class="sr-only lef-scrollable" id="index-{{ index }}" data-scrollable="{{ scrollable }}" data-url="{{ path('lef_post_index', {'index': (index + 1)}) }}" data-total="{{ total }}"></div>