{# app/Resources/views/Form/invitation.html.twig #}

{{ form_start(form, {'attr': {'action': path('lef_group_invite', {'id': invitation.group.id, 
            'user': invitation.applicant.id}) }}) }}
	{{ form_errors(form) }}
	
	{% if form.demand is defined %}
		{{ form_row(form.demand) }}
	{% endif %}
	    
	{{ form_row(form.offer) }}
	
	{% if form.invite is defined %}
	<div class="form-group row">
		<div class="offset-sm-2 col-sm-10">
			{{ form_widget(form.invite) }}
		</div>
	</div>
	{% endif %}
	
	{{ form_rest(form) }}
	
{{ form_end(form) }}