{# app/Resources/views/LEFArticleBundle/Default/templates/article.html.twig #}

{% import 'templates/chevrons.html.twig' as chevron %}
{% set collapse_title = 'lefcore.show_replies'|trans %}
{% set other_title = 'lefcore.hide_replies'|trans %}

<article class="card box-shadow-light px-0 mb-2" id="article-{{ article.id }}">
	<div class="card-header d-flex justify-content-between align-items-center gradient-info px-1 pb-0 pt-1">
		<div class="text-nowrap">
			<a href="{{ path('lef_group_view', {'id': article.group.id}) }}" class="float-left">
				<img src="{{ asset(article.group.logoSrc) }}" alt="group_logo" class="mr-2 avatar-min img-thumbnail">
			</a>
			<a href="{{ path('lef_group_view', {'id': article.group.id}) }}" class="link-unstyled">
		        {{ article.group.name }}<br />{{ article.group.alias }}<br />
			</a>
			<a class="group-category d-none d-sm-inline" href="{{ path('lef_article_by_group_category', {'id': article.group.groupCategory.id}) }}">
			    {{ group_cat(article.group.groupCategory.id) }}
			</a>
		</div>
		<div class="align-self-start text-center">
			<small class="d-none d-sm-inline">
                {% if article.published %}
		    		<i class="far fa-clock"></i>
	                {{ 'published.v'|trans ~ ' ' ~timeAgo(article.publishedAt) }}
	        		<span class="edited">{% if article.edited %}({{ 'edited.pp'|trans }}){% endif %}</span>
	        	{% else %}
	        		<i class="fas fa-exclamation-triangle"></i>
		            {{ 'lefarticle.not_published'|trans }}
		        {% endif %}
	 		</small>
	 		{{ chevron.create('rgb(190, 190, 255)', 'rgb(70, 0, 130)', path('lef_article_view', {'id': article.id}), (modal is not defined ? 'modal-lg' : null), (modal is not defined ? 'modal' : null)) }}
		</div>
		<a href="{{ path('lef_user_profile_show', {'id': article.author.id}) }}" class="d-flex justify-content-end link-unstyled">
			<span class="text-right">{{ article.author.fullname }}<br />
			    <span class="alias">{{ article.author.alias }}</span>
			</span>
			<img src="{{ asset(article.author.avatarSrc) }}" alt="avatar" class="avatar-min ml-2 rounded-circle">
		</a>
	</div>
	{% if article.image is not empty %}
		<img src="{{ asset(article.image.src) }}" class="card-img-top article-img" alt="{{ article.image.alt }}">
	{% endif %}
	<div class="card-body px-lg-5">
		<h3 class="card-title">
			<a href="{{ path('lef_article_view',{'id': article.id}) }}" class="link">
				{{ article.title }}
			</a>
		</h3>
		<h4 class="card-subtitle mb-2">
			<a href="{{ path('lef_article_by_category',{'id': article.category.id}) }}" class="lef-category">
			    {{ cat_name(article.category.id) }}
			</a>
		</h4>
		<div class="card-text cursor-default">{{ article.intro|nl2br }}</div>
		<div class="text-right text-muted cursor-default">
			<small class="d-inline d-sm-none">
				{% if article.published %}
		    		<i class="far fa-clock"></i>
	                {{ 'published.v'|trans ~ ' ' ~timeAgo(article.publishedAt) }}	
	        	{% else %}
	        		<i class="fas fa-exclamation-triangle"></i>
		            {{ 'lefarticle.not_published'|trans }}
		        {% endif %}
			</small>
			{% if article.updatedAt is not empty %}<br class="d-block d-sm-none"/>{% endif %}
			{% if article.updatedAt is not empty %}
				<small>
					<i class="fas fa-pencil-alt"></i>&nbsp;
					{{ 'modified.pp'|trans ~ ' ' ~ timeAgo(article.updatedAt) }}
				</small>
			{% endif %}
			<small class="edited-by">
                {% if article.editor is not empty %}
					&nbsp;|&nbsp; <i class="fas fa-check-circle"></i>
			       	{{ 'edited.by'|trans }}
			       	<a href="{{ path('lef_user_profile_show', {'id': article.editor.id}) }}" class="link">
			       		{{ article.editor.alias }}
			       	</a>
			    {% endif %}
			</small>
		</div>
	</div>
	<div class="card-footer d-flex justify-content-center align-items-center py-1">
		<a data-toggle="tooltip" href="{{ path('lef_core_like', {'entity': 'article', 'id': article.id}) }}" {% if isLiked(article) %}title="{{ 'like.article.nomore'|trans }}" data-text="{{ 'like.article.yes'|trans }}"{% else %}title="{{ 'like.article.yes'|trans }}" data-text="{{ 'like.article.nomore'|trans }}"{% endif %} class="like link-unstyled">
			<i class="fas fa-thumbs-up fa-lg {{ isLiked(article) ?'text-success' : 'text-secondary' }}"></i>
			<span class="badge badge-pill badge-{{ isLiked(article) ? 'success' : 'secondary' }} ml-sm-1">{{ article.likes ? article.likes : '0' }}</span>
		</a>
		<a data-toggle="tooltip" href="{{ path('lef_core_dislike', {'entity': 'article', 'id': article.id}) }}" title="{{ 'dislike.article'|trans }}" class="dislike link-unstyled">
			<i class="fas fa-thumbs-down fa-lg {{ isDisliked(article)  ? 'text-danger' : 'text-secondary' }}" data-fa-transform="down-3"></i>
			<span class="badge badge-pill badge-{{ isDisliked(article) ? 'danger' : 'secondary' }} ml-sm-1">{{ article.dislikes ? article.dislikes : '0' }}</span>
		</a>
		<a data-toggle="tooltip" href="{{ path('lef_article_posts', {'id': article.id}) }}" title="{{ collapse_title }}" data-post="article-{{ article.id }}" data-target="#collapse-article-{{ article.id }}" class="link-unstyled ml-sm-2 collapse-caller" data-text="{{ other_title }}">
			<i class="fas fa-comment fa-lg text-secondary" data-fa-transform="down-2"></i>
			<span class="badge badge-pill badge-secondary ml-sm-1 nb-comments">{{ article.nbComments ? article.nbComments : '0' }}</span>
		</a>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<a tabindex="0" class="ml-4 ml-sm-5 btn" data-toggle="popover" data-title="lefcore.options" data-html="true" 
				data-content="
					<div class='list-group list-group-flush'>
						{% if has_privilege('EDIT', article.group, article.author) %}
							<a class='list-group-item list-group-item-action' href='{{ path('lef_article_edit', {'id': article.id}) }}' data-post='article-{{ article.id }}'>
							    <i class='fas fa-edit'></i>&nbsp;{{ 'lefcore.edit'|trans }}
							</a>
						{% endif %}
						{% if has_privilege('DELETE', article.group, article.author) %}
							<a class='list-group-item list-group-item-action lef-remove' href='{{ path('lef_article_delete', {'id': article.id}) }}'>
							    <i class='fas fa-trash-alt'></i>&nbsp;{{ 'lefcore.delete'|trans }}
							</a>
						{% else %}
							<a class='list-group-item list-group-item-action form-caller' href='{{ path('lef_core_report', {'id': article.id}) }}'>
							    {{ 'lefcore.report'|trans }}
							</a>
						{% endif %}
					</div>">
			       	<i class="fas fa-ellipsis-v"></i>
			 </a>
		{% endif %}
	</div>
</article>