{# app/Resources/views/LEFArticleBundle/Default/add.html.twig #}

{% extends "LEFArticleBundle/layout.html.twig" %}
{% block meta_content %}{{ 'title.lefarticle.add'|trans }}{% endblock %}
{% block title %}
	{{ 'title.lefarticle.add'|trans }} - {{ parent() }}
{% endblock %}

{% block nav_header %}
	<h2 class="text-center text-light" id="navHeader">{{ 'title.lefarticle.add'|trans }}</h2>
{% endblock %}
{% block nav_tabs %}{% endblock %}

{% block body %}
	
	{{ include("Form/LEFArticle/article.html.twig") }}
	
	<p>
		<a href="{{ path('lef_article_home') }}" class="btn btn-outline-secondary">
			<i class="fas fa-chevron-left"></i>
			{{ 'returnto.lefarticle.home'|trans }}
		</a>
	</p>
{% endblock %}