{# app\\Resources\\LEF\\ArticleBundle\\views\\Default\\search.html.twig #}
{% extends 'LEFArticleBundle\\layout.html.twig' %}
{% block meta_content %}{{ 'title.lefarticle.search'|trans({'%name%': (search_by|trans)}) }}{% endblock %}
{% block title %}{{ 'title.lefarticle.search'|trans({'%name%': (search_by|trans)}) }} - {{ parent() }}{% endblock %}

{% block search_form %}{% endblock %}
{% block nav_header %}
	<h2 class="text-center text-light py-2" id="navHeader">{{ 'lefarticle.search.header'|trans({'%name%': search_by|trans}) }}</h2>
{% endblock %}
{% block nav_tabs %}{% endblock nav_tabs %}

{% block lefarticle_body %}
	<div class="pr-sm-5">
		{{ include('Form/LEFArticle/search_article.html.twig', {'form': form}) }}
	</div>
	{{ include('LEFArticleBundle\\Default\\ajax\\search.html.twig') }}
{% endblock %}