{# app/Resources/views/LEFCoreBundle/Default/viewBlocked.html.twig #}

{% extends 'LEFCoreBundle/layout.html.twig' %}
{% block meta_content %}{{ 'title.lefcore.view_blocked'|trans }}{% endblock %}
{% block title %}
	{{ 'title.lefcore.view_blocked'|trans }} - {{ parent() }}
{% endblock %}

{% block header %}
	{% import 'templates/user_header.html.twig' as user_header %}
	{{ user_header.create(user) }}
{% endblock %}
{% block nav %}
	<div class="px-2 rounded-top  gradient-cyan mb-2">
		<h2 class="text-center text-light" id="navHeader">{{ 'title.lefcore.view_blocked'|trans }}</h2>
		{% import 'templates/nav_tabs.html.twig' as navTab %}
		{{ navTab.create(0, path('lef_core_view_blocked'), 'lefcore.blocked_users', 
		    [path('lef_core_view_blockers')], ['lefcore.blockers'|trans], 190) }}
	</div>
{% endblock %}
{% block lefcore_body %}
	<div class="card box-shadow-light">
		<div class="card-header">
			<h3 class="card-title">{{ 'lefcore.blocked'|trans }}</h3>
		</div>
		<div class="card-body px-0 px-sm-3 px-md-4 px-lg-5">
			<h6 class="text-muted mb-2">{{ 'thereare.blocked'|transchoice(blockedUsers|length) }}</h6>
			{% if blockedUsers|length > 0 %}
				<table class="table table-striped">
					<caption class="caption-top cursor-default">
				        {{ 'listof.blocked'|trans }}
			    	</caption>
			        {% for blocked in blockedUsers %}
					<tr id="user-{{ blocked.id }}" class="row mx-0">
						<td class="col-4 col-sm-7 col-md-4">
							<a href="{{ path('lef_user_profile_show', {'id': blocked.id}) }}" class="float-left">
								<img src="{{ asset(blocked.avatarSrc) }}" alt="avatar" class="img-thumbnail avatar-max mr-2">
							</a>
							<a href="{{ path('lef_user_profile_show', {'id': blocked.id}) }}" class="link mb-2">
								<span class="text-nowrap">{{ blocked.fullname }} <br />{{ blocked.alias }}</span>
				   			</a>
				   		</td>
				   		{% set id = blocked.id %}
						<td class="col-8 col-sm-5 col-md-8">
							<div>
						        {% if is_followed(blocked) %}
								<a href="{{ path('lef_user_unfollow', {'id': id}) }}" class="follow btn mb-2" data-follow="user-{{ id }}">
					                {{ 'lefcore.unfollow'|trans }} <span class="badge badge-pill badge-light">{{ showNumber(blocked.nbFollowers) }}</span>
								</a>
			           	        {% else %}
								<a href="{{ path('lef_user_follow', {'id': id}) }}" class="follow btn mb-2{{ app.user == blocked ? ' not-allowed' }}" data-follow="user-{{ id }}">
				   	                {{ 'lefcore.follow'|trans }} <span class="badge badge-pill badge-light">{{ showNumber(blocked.nbFollowers) }}</span>
								</a>
				                {% endif %}
				                {% if is_blocker(blocked) %}
				                <h4 class="text-muted text-bold">
				                   	{{ 'lefcore.blocked_you'|trans }}
				                </h4>
				                {% endif %}
				            </div>
				            <hr class="d-block bg-muted d-md-none">
				            <div>
					            <a href="{{ path('lef_core_block', {'id': blocked.id}) }}" class="form-caller blocker btn btn-warning">
				       			    <i class="fas fa-check-circle"></i>&nbsp;{{ 'lefcore.unblock'|trans }}
				       			</a>
				            </div>		        		
				        </td>
					</tr>
			        {% endfor %}
				</table>
		 	{% endif %}
		</div>
	</div>
{% endblock %}