{# app\\Resources\\LEF\\CoreBundle\\views\\Default\\ajax\\groupPostNotifs.html.twig #}

{% for notif in groupPostNotifs %}
	{{ include('LEFGroupBundle\\templates\\post.html.twig', {'post': notif.groupPost}) }}
{% endfor %}

<div class="sr-only lef-scrollable" id="index-{{ index }}" data-scrollable="{{ scrollable }}" data-url="{{ path('lef_core_group_post_notifs', {'index': (index + 1)}) }}{{ unseen is defined ? '?unseen=only' }}" data-total="{{ total }}"></div>