{# app/Resources/views/LEFGroupBundle/Post/groupPosts.html.twig #}

{% extends 'LEFGroupBundle/layout.html.twig' %}
{% block meta_content %}{{ 'title.lefgroup.restricted_posts'|trans }}{% endblock %}
{% block title %}
	{{ 'title.lefgroup.restricted_posts'|trans }} - {{ parent() }}
{% endblock %}

{% block header %}
	{% if group.background %}
		<header id="header" class="jumbotron d-flex justify-content-start cursor-default box-shadow-light" style="background-image: {{ asset(group.background.src) }};">
	{% else %}
		<header id="header" class="jumbotron d-flex flex-column justify-content-around gradient-blue-purple cursor-default box-shadow-light">
	{% endif %}
			<div class="d-flex justify-content-start mb-2">
				<div class="mr-1 mr-sm-4">
					<img src="{{ asset(group.logoSrc) }}" alt="logo" class="img-fluid text-left rounded">
				</div>
				<div>
					<h1 class="pr-2 mb-4">
				    	<span class="badge badge-light text-left">
				            {{ group.name }}
				 			<br />
				    		<span class="text-muted">
				    	        {{ group.alias }}
				    	    </span>
					    </span>
					</h1>
					<h3>
		   		   		<a href="{{ path('lef_group_by_category', {'id': group.groupCategory.id}) }}" class="group-category py-0 border-0">
		   	   				{{ group_cat(group.groupCategory.id) }}
		   	   			</a>
					</h3>
					{% if is_followed(group) %}
					<a href="{{ path('lef_group_unfollow', {'id': group.id}) }}" class="follow btn" data-follow="group-{{ group.id }}">
						{{ 'lefcore.unfollow'|trans }} <span class="badge badge-pill badge-light">{{ showNumber(group.nbFollowers) }}</span>
					</a>
			        {% else %}
					<a href="{{ path('lef_group_follow', {'id': group.id}) }}" class="follow btn" data-follow="group-{{ group.id }}">
					   	{{ 'lefcore.follow'|trans }} <span class="badge badge-pill badge-light">{{ showNumber(group.nbFollowers) }}</span>
					</a>
				    {% endif %}
				</div>
			</div>
				<div class="py-0 mt-1">	
					<div class="btn-group">
						<a class="btn btn-success border border-dark text-bold box-shadow-dark p-2" href="{{ path('lef_group_articles', {'id': group.id}) }}">
							{{ 'articles'|trans }}
						</a>
						<a class="px-4 btn group-category box-shadow-dark p-2" data-toggle="tooltip" href="{{ path('lef_group_view', {'id': group.id}) }}" title="{{ 'lefgroup.view_group'|trans }}" data-placement="right">
					    	<i class="fas fa-home" data-fa-transform="grow-6"></i>
					    </a> 
					
					</div>
				</div>
		</header>
{% endblock %}
{% block nav %}
	<div class="px-2 rounded-top gradient-purple mb-2">
		{% set isMember = has_privilege('VIEW', group) %}
		<h2 class="text-center text-light cursor-default{{ not isMember ? ' py-2' }}" id="navHeader">{{ 'lefgroup.group_posts.header_restricted'|trans({'%name%': group.name}) }}</h2>
		{% if isMember %}
		    {% import 'templates/nav_tabs.html.twig' as navTab %}
		    {{ navTab.create(1, path('lef_group_posts', {'id': group.id}), 'lefgroup.group_posts.link', 
		    [path('lef_group_posts_restricted', {'id': group.id})], ['lefgroup.restricted_posts'|trans], 210) }}
	    {% endif %}
	</div>
{% endblock %}
{% block lefgroup_body %}
	{% if subresponse is defined %}
	    {{ subresponse|raw }}
	{% endif %}
	{{ include('LEFGroupBundle\\Post\\ajax\\restrictedPosts.html.twig') }}
{% endblock %}